body {
  height: 100%;
  width: 100%;
}

.main {
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  width: 50%;
  background-image: url('./cpl.jpg');
  background-size: 100%;
}

.title {
  font-family: 'Great Vibes', 'cursive';
  color: white;
}

p {
  color: white;
  font-family: 'Space Mono', monospace;
}
